[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
typing-extensions = "*"
fastapi = "*"
oauth2client = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
mysqlclient = "*"
sqlalchemy = "*"
pyjwt = "*"
python-decouple = "*"
opencv-python = "*"
pip = "*"
moviepy = "*"

[dev-packages]

[requires]
python_version = "3.11"
